<form [formGroup]="RegisterForm" (submit)="register()" autocomplete="new-password">
    <h1>Register</h1>
  
    <div class="form-control">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
      />
    </div>

    <div class="form-control">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="text"
      />
    </div>
  
    <div class="form-control">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        autocomplete="new-password"
        type="password"
      />
    </div>
  
    <button type="submit">Register &#8594;</button>
    <button type="button" (click)="goToLogin()">Login</button>
    
  </form>