<div *ngIf="!friendRequests.length">
    <p>You have no friend requests</p>
    <input [(ngModel)]="newRequestName" placeholder="Friends Name" />
    <button (click)="sendFriendRequest()">Send a friend request</button>
  </div>
  
  <div *ngIf="friendRequests.length">
    <div *ngFor="let request of friendRequests">
      <p>{{ request }} sent a friend request.</p>
      <button (click)="acceptRequest(request)">Accept</button>
      <button (click)="deleteRequest(request)">Reject</button>
    </div>
    <div>
      <input [(ngModel)]="newRequestName" placeholder="Friends Name" />
      <button (click)="sendFriendRequest()">Send friend request</button>
    </div>
  </div>
  